body {
    background-image: url('./images/background.jpg');
}

.cube-e {
    background-color: rgba(255, 255, 255, 0.5);
}

.cube-1 {
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("./images/Yuji_Itadori.png");
    background-size: cover;
}

.cube-2 {
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("./images/Suguru_Geto.png");
    background-size: cover;
}

.cube-c {
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("./images/Sukuna\'s_Finger.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cube-w {
    background-image: url("./images/Brick.jpg");
    background-size: cover;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    height: 7vh;
    width: 7vw;;
}